<h2 mat-dialog-title class="mat-dialog-title">Training Details</h2>

<div class="training-details-container">
  <div *ngIf="data" class="training-content">
    <mat-dialog-content>
      <p class="training-date">{{ data.date}}</p>
      <p class="training-address">{{ data.address }}, {{ data.postalCode }} - {{ data.city }}</p>
      <p class="training-description">{{ data.description }}</p>
    </mat-dialog-content>
  </div>

  <mat-dialog-actions class="details-buttons" align="end">
<!--    <button mat-flat-button color="primary">Modify</button>-->
    <button mat-flat-button color="accent" (click)="startConversation()">Start Chat</button>
    <button mat-flat-button color="warn" class="danger" (click)="deleteTraining(data.id)">Delete</button>
  </mat-dialog-actions>
</div>
